<%- include("../partials/header") %>
    <section id="track-section">
        <h1>
            <%= title %>
        </h1>
        <h2>Enter Your Favorite Artists:</h2>
        <form action="/artists" id="new-artist" method="POST">
            <label>Enter Artist Name</label>
            <input type="text" name="name" placeholder="Enter An Artist's Name Here">
            <label>Enter Artist's Genre</label>
            <input type="text" name=genre placeholder="Enter the Artist's Genre Here">
            <label>Select Artist</label>
            <select name="artist">
                <select name="album">
                <% if(albums.length) { %>
                    <% albums.forEach(function(al) { %>
                       <option><%= al.title %></option> 
                       <%  }); %>
                <% } else { %>
                    <option>No Albums Entered Yet</option>
                <% } %>
                </select>
            <% if(Tracks.length) { %>
                <% tracks.forEach(function(t) { %>
                    <option>
                        <%= t.name %>
                    </option>
                    <% }); %>
                        <% } else { %>
                            <option>No Tracks Entered Yet</option>
                            <% } %>
                                </select>
                                <label>Select Album</label>
                                <input type="submit" value="Submit Artist">
        </form>

        <ul id="artist-list">
            <% if(artists.length) { %>
                <%  artists.forEach(function(a) { %>

                    <li>
                        <%= a.name  %>
                            <%= a.genre %>
                                <%= a.albums  %>
                                    <%= a.tracks  %>
                    </li>

                    <% }); %>

                        <% } else { %>

                            <h3>No Artists to Display Yet!</h3>

                            <% } %>

        </ul>

    </section>






    <%- include("../partials/footer") %>